# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
*we saw about:*
- languages used in data science
- libraries used in data science
- few open source tools
- basic python programs

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Julia
6. Scala

##### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. Tensorflow
5. keras

|Data Science Tools|
|-----|
|Jupyter|
|Apache Zeppeline|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
5+7

12

In [4]:
20/4

5.0

In [5]:
19%3

1

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
min = int(input("Enter the time in minutes: "))

#This will convert 200 minutes to hours by diving by 60
hours = min/60
print("time in hours is: "+str(hours))

Enter the time in minutes: 200
time in hours is: 3.3333333333333335

## Author
Raghavendar V